/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* White background for the entire page */
  color: #000000; /* Black text color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  background-color: #000000; /* Black background for the main container */
  color: white; /* Black text color for the main container */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  border: 1px solid #000000; /* Black border */
}

h1 {
  font-size: 24px;
  color: #ffffff; /* White text color for the header */
}

/* Todo component styles */

.ToDo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000000; /* Black border for each todo */
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  background-color: #ffffff; /* White background for each todo */
  color: #000000; /* Black text color for todo items */
}

.completed {
  text-decoration: line-through;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
  margin-left: 10px;
}

.todo-input {
  width: 70%;
  padding: 5px;
  border: 1px solid #000000; /* Black border for input fields */
  border-radius: 5px;
}

.todo-butt {
  background-color: #000000; /* Black button background */
  color: #ffffff; /* White text color for buttons */
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.todo-butt:hover {
  background-color: #333333; /* Slightly darker black on button hover */
}

.falling-emojis {
  position: absolute;
  animation: fall 2s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}
